# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo
*.pyd

# Environment
venv/
basicenv/
.env

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# IDEs
.vscode/
.idea/
gdal*
lib*
*.DS_Store*

*keycloak_certs*