<!-- core/templates/core/dashboard.html -->
{% extends 'core/base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="mb-3">Welcome, {{ request.session.user.name }}</h1>

    {% if request.session.access.is_admin or request.session.claims.role_level == 'ceo' %}
        <p>You have full access to Departments and Employees management.</p>
        <a href="{% url 'departments:list' %}" class="btn btn-primary">Manage Departments</a>
        <a href="{% url 'employees:list' %}" class="btn btn-secondary">Manage Employees</a>

    {% elif request.session.claims.role_level in 'vp manager' %}
        <p>You can manage employees and view your team.</p>
        <a href="{% url 'employees:list' %}" class="btn btn-primary">View Employees</a>
        <a href="{% url 'core:my_team' %}" class="btn btn-secondary">My Team</a>

    {% else %}
        <p>You are an employee. Redirecting you to Leave Management...</p>
        <meta http-equiv="refresh" content="1; url=http://127.0.0.1:8002/attendance/mark/">
    {% endif %}
</div>
{% endblock %}
